<div class="btn-group-vertical" role="group"
            aria-label="Navigation sidebar">
    <a href="index.html" class="btn btn-primary">Overview</a>
    <a href="setup.html" class="btn btn-primary">Getting Started</a>
    <a href="rendering.html" class="btn btn-primary">Rendering</a>
    <a href="rendering-partials.html" class="btn btn-primary">Rendering Partials</a>
    <a href="renderers.html" class="btn btn-primary">Renderers</a>
    <a href="configuration.html" class="btn btn-primary">Configuration</a>
    <a href="configuring-markdown.html" class="btn btn-primary">Configuring Markdown</a>
    <a href="configuring-markdoc.html" class="btn btn-primary">Configuring Markdoc</a>
    <a href="guidecms.html" class="btn btn-primary">GuideCMS</a>
    <a href="api/index.html" class="btn btn-primary">API</a>
    <a href="akashacms.html" class="btn btn-primary">AkashaCMS</a>
</div>