<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title | escape }}</title>
        {% for style in stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ style | escape }}"/>
        {% endfor %}
        {% for js in jshead %}
        <script src="{{ js | escape }}"></script>
        {% endfor %}
    </head>
    <body>
        <head class="container-fluid">
        <h1>{{ title | escape }}</h1>
        </head>
        <div class="container-md">
            <div class="row">
                <article class="col">
                    {{ content }}
                </article>
                <section class="col-2">
                    {{ partialSync('sidebar.html') }}
                    {# {% include 'sidebar.html' %} #}
                </section>
            </div>
        </div>
        {% for js in jsbottom %}
        <script src="{{ js | escape }}"></script>
        {% endfor %}

        <script>
            try {
                hljs.initHighlightingOnLoad();
            } catch (err) { }
        </script>
    </body>
</html>