<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title | escape }}</title>
        {% for style in stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ style | escape }}"/>
        {% endfor %}
        {% for js in jshead %}
        <script src="{{ js | escape }}"></script>
        {% endfor %}
    </head>
    <body>
        <head class="container-fluid">
        <h1>{{ title | escape }}</h1>
        </head>
        <div class="container-md">
            <div class="row">
                <article class="col">
                    {{ content }}
                </article>
                <section class="col-2">
                    <div class="btn-group-vertical" role="group" 
                            aria-label="Vertical button group">
                        <a href="index.html" class="btn btn-primary">Overview</a>
                        <a href="setup.html" class="btn btn-primary">Getting Started</a>
                        <a href="rendering.html" class="btn btn-primary">Rendering</a>
                        <a href="renderers.html" class="btn btn-primary">Renderers</a>
                        <a href="configuration.html" class="btn btn-primary">Configuration</a>
                        <a href="configuring-markdown.html" class="btn btn-primary">Configuring Markdown</a>
                        <a href="guidecms.html" class="btn btn-primary">GuideCMS</a>
                    </div>
                </section>
            </div>
        </div>
        {% for js in jsbottom %}
        <script src="{{ js | escape }}"></script>
        {% endfor %}

        <script>
            try {
                hljs.initHighlightingOnLoad();
            } catch (err) { }
        </script>
    </body>
</html>