---
title: Metadata test for EJS
layout: foo.html.ejs
hello: world
---

<h1><%= title %></h1>

<p>message: <%= message %></p>

<p>This is the body.</p>

<p>Hello, World!</p>

<p>hello: <%= hello %></p>
